.total-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.total-content div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.total-content div p {
    margin-right: 10px;
}

.btns {
    width: 200px;
}
